/target
/storage
.qdrant-initialized
/qdrant_storage

/tests/test_cases/*/process.log
/tests/test_cases/*/rollback.log
/tests/test_cases/*/apply.log
/tests/test_cases/*/test_case.log
/tests/test_cases/*/fixtures/
/tests/test_cases/*/.messy-folder-reorganizer-ai


/tests/configs/.messy-folder-reorganizer-ai/migrations
/tests/configs/.messy-folder-reorganizer-ai/prompts
/tests/configs/.messy-folder-reorganizer-ai/source.json

/tmp